@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

#main_profil {
  --background: rgba(0, 0, 0, 0.7);
  background-image: url("./../../assets/img/background-image.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-position: right;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
}

.smallCaps{
  font-variant: small-caps;
}

.title{
  font-size: 13pt;
  color: #cacaca;
}

.blank{
  margin-bottom: 15px;
}

.borderBefore::before{
  content: "";
  position: absolute;
  left: 5%;
  height: 1px;
  width: 90%;
  border-top: 1px solid rgba(182, 182, 182, 1);
}

.container{
  padding-bottom: 50px;
}


/**
  -----------------------------------
  Top part with : profil image + pseudo + number of subscribers + button to show the map + button to subscribe (if not own profil page)
*/

#main_profil .centerBlock{
  padding-bottom: 15px;
}

#main_profil .topPart .avatar{
  height : 110px;
  width : 110px;
  border-radius : 50%;
  display : block;
  object-fit : cover;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#main_profil .centerBlock{
  text-align: center;
  float:center;
  color: white;
}

#main_profil .centerBlock .inlineBlock{
  display: inline-block;
}

#main_profil .topPart .mapBtn{
  color: white;
  font-size: 20pt;
  margin-left: 20px;
  width: 27px;
}

#main_profil .topPart .blankIcon{
  color: transparent;
  font-size: 20pt;
  margin-right: 20px;
  width: 27px;
}

#main_profil .topPart .username{
  font-size: 14pt;
}

#main_profil .topPart .nbAbonnes{
  color: rgba(255, 255, 255, 0.7);
  font-size: 11pt;
}

#main_profil .centerBlock ion-button{
  padding-top: 2px;
  padding-bottom: 2px;
  --padding-start: 40px;
  --padding-end: 40px;
  font-weight: 300;
}


/**
  ------------------------------------------
  Statistiques 
*/

#main_profil .statsSucces{
  margin-top: 20px;
}

#main_profil .stats ion-col{
  text-align: center;
}

#main_profil .stats ion-icon{
  font-size: 10vw;
  color: white;
}

#main_profil .stats ion-col span{
  color: rgba(255, 255, 255, 0.6);
  font-size: 4.3vw;
}

#main_profil .stats ion-col .number{
  color: white;
  font-size: 5vw;
}


/**
  ------------------------------------------
  Succes
*/

#main_profil .statsSucces .succes{
  padding-left: 10px;
  color: white;
  padding-bottom: 0;
}

#main_profil .statsSucces .succes .title{
  padding-left: 5px;
}

#main_profil .succes .listBadge{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  margin-top: 15px;  
  height: auto;
  overflow: hidden;
  
  font-weight: 300;
  font-size: 13pt;
}

#main_profil .succes .listBadge div{
  text-align: center; 
  width: 30%;
}

#main_profil .succes .sign{
  width: 100%;
  text-align: center;
}

#main_profil .succes .sign ion-icon{
  font-size: 40pt;
  font-weight: 100;
}


/**
  -----------------------------------------
  Map
*/
.map-container { 
  width: 100vw;
  height: 300px;
}


/** 
  --------------------------------------
  Trips 
*/
#main_profil .trips .listTrips .trip{
  margin-top: 10px;
  position: relative;
}

#main_profil .trips .listTrips .trip .tripImage{
  border-radius: 5px;
  object-fit : cover;
  height: 200px;
  width: 100%;
}

#main_profil .trips .listTrips .titleTrip{
  position: absolute;
  left: 4px;
  top: 4px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  width: 80%;
}

#main_profil .trips .listTrips .countryImg{
  position: absolute;
  right: 4px;
  top: 4px;
  color: white;
  z-index: 10;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  width: 10vw;
  height: 10vw;
  object-fit : cover;
  border-radius : 50%;
}

#main_profil .trips .listTrips .titleTrip p{
  margin-top: 0px;
  margin-bottom: 0px;
}

#main_profil .trips .listTrips .titleTrip .dates{
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  font-size: 11pt;
}


