@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

#main_profil {
  --background: rgba(0, 0, 0, 0.7);
  background-image: url("./../../assets/img/background-image.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-position: right;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
}

.smallCaps{
  font-variant: small-caps;
}

.title{
  font-size: 13pt;
  color: #cacaca;
}

/**
  -----------------------------------
  Top part with : profil image + pseudo + number of subscribers + button to show the map + button to subscribe (if not own profil page)
*/

#main_profil .topPart .avatar{
  height : 110px;
  width : 110px;
  border-radius : 50%;
  display : block;
  object-fit : cover;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#main_profil .centerBlock{
  text-align: center;
  float:center;
  color: white;
}

#main_profil .centerBlock .inlineBlock{
  display: inline-block;
}

#main_profil .topPart .mapBtn{
  color: white;
  font-size: 20pt;
  margin-left: 20px;
}

#main_profil .topPart .blankIcon{
  color: transparent;
  font-size: 20pt;
  margin-right: 20px;
}

#main_profil .topPart .username{
  font-size: 14pt;
}

#main_profil .topPart .nbAbonnes{
  color: rgba(255, 255, 255, 0.7);
  font-size: 11pt;
}

#main_profil .centerBlock ion-button{
  padding-top: 2px;
  padding-bottom: 2px;
  --padding-start: 40px;
  --padding-end: 40px;
  font-weight: 300;
}


/**
  ------------------------------------------
  Statistiques 
*/

#main_profil .statsSucces{
  margin-top: 20px;
}

#main_profil .stats ion-col{
  text-align: center;
}

#main_profil .stats ion-icon{
  font-size: 10vw;
  color: white;
}

#main_profil .stats ion-col span{
  color: rgba(255, 255, 255, 0.6);
  font-size: 4.3vw;
}

#main_profil .stats ion-col .number{
  color: white;
  font-size: 5vw;
}


/**
  ------------------------------------------
  Succes
*/

#main_profil .statsSucces .succes{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-top: solid 1px rgba(182, 182, 182, 1);
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

#main_profil .succes .listBadge{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

#main_profil .succes .listBadge div{
  text-align: center; 
  width: 30%;
  margin-bottom: 10px;
}






