<ion-content id="trip_creation">
  <div class="cancelBtn">
    <span>Annuler</span>
  </div>

  <div class="shapeGroup">
    <div style="display: block; margin-left: auto; margin-right: auto;">
      <div class="circle-outline"></div>
      <div class="line"></div>
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle-outline"></div>
      <div class="line"></div>
      <div class="circle-outline"></div>
    </div>
  </div>
  
  <app-footer-app></app-footer-app>
</ion-content>
