<ion-content id="trip_creation">
  <div class="cancelBtn">
    <span>Annuler</span>
  </div>

  <div class="content_tripCreation">
    <div class="shapeGroup">
      <div class="underShapeGroup">
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
      </div>
    </div>

    <div class="marginContent smallCaps pageTitle">
      <span>Création de voyage</span>
    </div>

    <div class="marginContent sliderContainer">
      <span class="smallCaps">Définir l'image de couverture</span>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
              <div class="prev-icon-custom icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide">
                <i class="icon ion-ios-arrow-back"></i>
              </div>
            </span>
          </ion-col>

          <ion-col size="10">
            <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
              <ion-slide *ngFor="let s of sliderTwo.slidesItems">
                <img src="{{s.image}}" (click)='changeImageShown(s.image)'>
              </ion-slide>
            </ion-slides>
          </ion-col>

          <ion-col size="1">
            <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
              <div class="next-icon-custom icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide">
                <i class="icon ion-ios-arrow-forward"></i>
              </div>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="customizingZone marginContent">
      <!-- Image -->
      <div class="shownImage">
        <img src="{{urlImage}}">
      </div>

      <!-- Ion-range to modify the image -->
      <div class="selectors">
        <!-- Luminosité -->
        <div class="brightness">
          <span class="whiteColor">Luminosité</span> 
          <ion-range color="warning"></ion-range> <!--  [(ngModel)]="" -->
        </div>

        <!-- Contraste -->
        <div class="contrast">
          <span class="whiteColor">Contraste</span> 
          <ion-range color="warning"></ion-range>
        </div>

        <!-- Saturation -->
        <div class="saturation">
          <span class="whiteColor">Saturation</span> 
          <ion-range color="warning"></ion-range>
        </div>
      </div>
    </div>

    <div class="nextBtn whiteColor smallCaps">
      <span>Suivant</span>
    </div>
  </div>
  
  <app-footer-app></app-footer-app>
</ion-content>
