<ion-content id="trip_creation">
  <div class="cancelBtn">
    <span>Annuler</span>
  </div>

  <div class="content_tripCreation">
    <div class="shapeGroup">
      <div class="underShapeGroup">
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
      </div>
    </div>

    <div class="marginContent smallCaps pageTitle">
      <span>Création de voyage</span>
    </div>

    <div class="marginContent sliderContainer">
      <span class="smallCaps">Définir l'image de couverture</span>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <span class="slider-nav arrow-prev" (click)="slidePrev(sliderImgs,slideWithNav)">
              <div class="prev-icon-custom icon-custom custon-nav" [class.disabled]="sliderImgs.isBeginningSlide">
                <i class="icon ion-ios-arrow-back"></i>
              </div>
            </span>
          </ion-col>

          <ion-col size="10">
            <ion-slides pager="false" [options]="slideOpts" #slideWithNav (ionSlideDidChange)="slideDidChange(sliderImgs,slideWithNav)">
              <ion-slide *ngFor="let s of sliderImgs.slidesItems">
                <img src="{{s.image}}" (click)='changeImageShown(s.image)'>
              </ion-slide>
            </ion-slides>
          </ion-col>

          <ion-col size="1">
            <span class="slider-nav arrow-next" (click)="slideNext(sliderImgs,slideWithNav)">
              <div class="next-icon-custom icon-custom custon-nav" [class.disabled]="sliderImgs.isEndSlide">
                <i class="icon ion-ios-arrow-forward"></i>
              </div>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="customizingZone marginContent">
      <!-- Image -->
      <div class="shownImage"> 
        <img src="{{urlImage}}" [style.filter]="getFilters()">
      </div>

      <!-- Ion-range to modify the image -->
      <div class="selectors">

        <ion-button color="warning" fill="outline" (click)="reinitializeFilters()">
          <ion-icon slot="start" name="undo"></ion-icon>
          <span>Réinitialiser</span>
        </ion-button>
        
        <!-- Luminosité -->
        <div class="brightness">
          <span class="whiteColor">Luminosité</span> 
          <ion-range color="warning" [(ngModel)]="brightnessValue" min="40" max="300" step="1" mode="md"></ion-range>
        </div>

        <!-- Contraste -->
        <div class="contrast">
          <span class="whiteColor">Contraste</span> 
          <ion-range color="warning" [(ngModel)]="contrastValue" min="40" max="300" step="1" mode="md"></ion-range>
        </div>

        <!-- Saturation -->
        <div class="saturation">
          <span class="whiteColor">Saturation</span> 
          <ion-range color="warning" [(ngModel)]="saturationValue" min="0" max="300" step="1" mode="md"></ion-range>
        </div>

        <!-- Teinte -->
        <div class="hue">
          <span class="whiteColor">Teinte</span> 
          <ion-range color="warning" [(ngModel)]="hueValue" min="0" max="360" step="1" mode="md"></ion-range>
        </div>

        <!-- Sepia -->
        <div class="Sepia">
          <span class="whiteColor">Sepia</span> 
          <ion-range color="warning" [(ngModel)]="sepiaValue" min="0" max="100" step="1" mode="md"></ion-range>
        </div>
      </div>
    </div>

    <div class="nextBtn whiteColor smallCaps">
      <span>Suivant</span>
    </div>
  </div>
  
  <app-footer-app></app-footer-app>
</ion-content>
