@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

#trip_creation{
  --background: transparent;
  background-image: url("./../../assets/img/background-image.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-position: right;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
}

.content_tripCreation{
  position: relative;
  margin-top: 60px;
  padding-bottom: 100px;
}

.marginContent{
  margin-left: 16px;
  margin-right: 16px;
}

.smallCaps{
  font-variant: small-caps;
}

span{
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
}

.whiteColor{
  color: white;
}

.cancelBtn{
  position: fixed;
  top:12px;
  right:30px;
  font-variant: small-caps;
  font-size: 13pt;
  color: white;
}


/** 
  Group of shapes on the top of the screen 
  ------------------------------------------
*/
.shapeGroup{
  position: relative;
  height: fit-content;
  width: 100%;
}

.underShapeGroup{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: fit-content;
}

.circle{
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  float:left;
}

.circle-outline{
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  float:left;
}

.line{
  background: white;
  float:left;
  height: 1px;
  width: 15px;
  margin-top: 12px;
}


/** ----------------------------- */
.pageTitle{
  position: relative;
  margin-top: 40px;
  color: white;
  clear: both;
  font-size: 19pt;
}


/** 
  Slider Css
  --------------------------------------
*/

.sliderContainer{
  position: relative;
  margin-top: 30px;
}

.sliderContainer span{
  color: #efefef;
  font-size: 14pt;
}

.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
 
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}

.icon-custom{
  width: auto;
  height: auto;
  color: white;
  font-size: 20pt;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
}

.next-icon-custom{
  text-align: right;
}

.next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
}

.slider-nav{
    ion-icon{
        height: 100%;
    }
}

ion-slide{
  margin-left: 5px;
  margin-right: 5px;
  width: fit-content !important;
}

ion-slide img{
  height: 120px;
}


/**
  Dislaying the image and the selectors
  ------------------------------------------
*/
.customizingZone{
  margin-top: 20px;
}

.shownImage{
  overflow: hidden;
  width: fit-content;
  float: left;
}

.shownImage img{
  width: 45vw;
  height: 80vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.selectors{
  padding-left: 7px;
  width: 45vw;
  float: left;
}

.selectors ion-button{
  width: 100%;
  margin-bottom: 12px;
  font-variant: small-caps !important;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  --box-shadow: none;
}

.selectors span{
  color: white;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
  font-size: 10pt;
}

.selectors ion-range{
  padding-top: 0;
  padding-bottom: 0;
}


/**
  Next button div
  -----------------------------------------
*/
.nextBtn{
  clear: both;
  padding-top: 50px;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
  text-align: center;
}



