@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

/**
  --------------------------------
  Footer
*/
#footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.9)) !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  position: fixed;

  bottom: 0;
}

#footer ion-toolbar{
  --background: transparent;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --min-height: 0px;
  --padding-start: 0px;
}

#footer ion-col{
  padding-bottom: 0;
  height: fit-content;
}

#footer ion-grid ion-col:first-child{
  text-align: center; 
  border-right: 2px solid white;
  border-radius: 1px;
}

#footer ion-grid ion-col:focus{
  outline: none;
}

#footer ion-grid ion-icon{
  color: white;
  font-size: 20pt;
}

/**
  --------------------------------------------
  add fabs
*/
.addFabs{
  position: fixed;
  display : flex;
  bottom: 55px;
  left: 13%;
  height: 60px;
}

.addFabs ion-fab-button{
  align-self: flex-end;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  --background: rgba(0, 0, 0, 0.8);
}

.addFabs .topperFabs{
  align-self: flex-start;
} 