/** 
  /!\ IMPORTANT /!\
  The background of the modal is defined in global.scss
*/


@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

.blankDiv{
  color: transparent;
  padding-left: 26px;
  padding-right: 16px;
}

.smallCaps{
  font-variant: small-caps;
}



/** 
* -------------------------------------------
* Header
*/

ion-header ion-toolbar{
  contain: none;
  --background: rgba(0, 0, 0, 0.6);
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

.header:after{
  background: transparent;
}

ion-header ion-toolbar ion-title{
  text-align: center;
  color: rgb(255, 182, 48);
}

ion-header ion-button{
  --background: transparent;
  --box-shadow: none;
  margin-right: 10px;
}

ion-header ion-button:active{
  --background: transparent;
}




/**
* ---------------------------------------------
* Content
*/

ion-content{
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  --background: rgba(0, 0, 0, 0.6);  
}



/**
* --------------------------------------------
* Info on a badge : at the top of the screen
*/

ion-content .infoBadge{
  color: white !important;
  display: block;
  overflow: hidden;

  padding: 16px;
}

ion-content .infoBadge ion-col:nth-child(1){
  display: flex;
}

ion-content .infoBadge .leftPart{
  margin-top:auto;
  margin-bottom: auto;
  text-align: center;
}

ion-content .infoBadge .leftPart ion-icon{
  font-size: 20vw;
}

ion-content .infoBadge .rightPart p{
  text-align: justify;
  font-size:10pt;
  overflow: hidden;
  height: auto;
}

// ion-content .hidden{
//   // padding: 0px;
//   // max-height: 0px !important;
// }



/**
* ---------------------------------------------
* Title of the 2 lists to display badges : "earned" and "in progress"
*/

.titleLists ion-grid{
  padding-bottom: 0px;
}

.titleLists ion-col{
  text-align: center;
  color: white;
}

.titleLists ion-col:nth-child(1){
  border-right: 1px solid;
}



/**
* --------------------------------------
* Lists of badges
*/

.translateLeft{
  transform: translateX(-50%);
  transition: transform ease-in-out 0.5s;
}

.translateRight{
  transform: translateX(0);
  transition: transform ease-in-out 0.5s;
}

.listsBadges {
  overflow: hidden;
  width: 200%;
}

.listsBadges > div:nth-child(1)::before{
  content: "";
  position: absolute;
  left: 25%;
  height: 1px;
  width: 50%;
  border-top: 1px solid white;
}

.gottenBadgesPart{
  width: 50%;
  height: 500px;
  float: left;
}

.inProgressBadgesPart{
  margin-left:50%;
  width: 50%;
  height: 500px;
}

.listBadge{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  height: auto;
  width: 100%;
  overflow: hidden;
  
  font-weight: 300;
  font-size: 13pt;
}

.badge{
  margin-top: 15px;
  color: white;
  text-align: center; 
  width: 30%;
  background: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}

.badgeSelected{
  background:rgba(255, 255, 255, 0.2);
  // background:rgba(255, 182, 48, 0.2);
  transition: all 0.5s;
  border-radius: 5px;
  color: rgb(255, 182, 48);
  font-weight: 600;
}


