<!-- <div id="badgeModal"> -->
  <ion-header>
    <ion-toolbar style="display: inline-block">  <!-- Si ionic 3  remplacer par ion-navbar // si ionic 4 remplacer par ion-toolbar -->
      
      <!-- /!\ IMPORTANT : pour centrer le titre de la page -->
      <div class="blankDiv" slot="start">
        <ion-icon name="close"></ion-icon>
      </div>

      <div>
        <ion-title>
          <ion-icon name="star"></ion-icon>
          Badges
          <ion-icon name="star"></ion-icon>
        </ion-title>
      </div>

      <ion-button slot="end" (click)="dismiss()">
        <ion-icon color="light" name="close">Close</ion-icon>
      </ion-button>

    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <!-- Description du badge : badge - titre du badge - description -->
    <div class="infoBadge" *ngIf="badge">

      <ion-grid>
        <ion-row>
          <!-- left part : badge -->
          <ion-col size="3">
            <div class="leftPart">
              <ion-icon src="{{badge.badge}}"></ion-icon>
            </div>
          </ion-col>

          <!-- right part : Title of the badge and description of the badge -->
          <ion-col size="9">
            <div class="rightPart">
              <!-- Title of the badge -->
              <div>{{badge.name | uppercase}}</div>

              <!-- Description of the badge -->
              <p>
                {{badge.description}}
              </p>
            </div>
          </ion-col>

        </ion-row>

      </ion-grid>


      
      
      

      
      
        

      
      
    </div>

  </ion-content>

<!-- </div> -->
