<!-- <div id="badgeModal"> -->
  <ion-header>
    <ion-toolbar style="display: inline-block">  <!-- Si ionic 3  remplacer par ion-navbar // si ionic 4 remplacer par ion-toolbar -->
      
      <!-- /!\ IMPORTANT : pour centrer le titre de la page -->
      <div class="blankDiv" slot="start">
        <ion-icon name="close"></ion-icon>
      </div>

      <div>
        <ion-title>
          <ion-icon name="star"></ion-icon>
          Badges
          <ion-icon name="star"></ion-icon>
        </ion-title>
      </div>

      <ion-button slot="end" (click)="dismiss()">
        <ion-icon color="light" name="close">Close</ion-icon>
      </ion-button>

    </ion-toolbar>
  </ion-header>


  <ion-content>
    <!-- Description du badge : badge - titre du badge - description -->
    <!-- <div class="infoBadge" *ngIf="badge" [ngClass]="{'hidden': hideInfoBadge}"> -->
    <div class="infoBadge" *ngIf="badge" [@hideShowInfo]="hideShowInfo">
      <ion-grid>
        <ion-row>
          <!-- left part : badge -->
          <ion-col size="3">
            <div class="leftPart">
              <ion-icon src="{{badge.badge}}"></ion-icon>
            </div>
          </ion-col>

          <!-- right part : Title of the badge and description of the badge -->
          <ion-col size="9">
            <div class="rightPart">
              <!-- Title of the badge -->
              <div>{{badge.name | uppercase}}</div>

              <!-- Description of the badge -->
              <p>
                {{badge.description}}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </div>

    <!-- Lists of badges displayed in 2 tabs : badges earned and badges in progress -->
    <div>
      <!-- Titles of lists -->
      <div class="titleLists">
        <ion-grid>
          <ion-row>
            <ion-col (click)="goToEarnedBadgesList()">
              <span class="smallCaps">Obtenus</span>
            </ion-col>
            
            <ion-col (click)="goToInProgressBadgesList()">
              <span class="smallCaps">En cours</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Lists of badges -->
      <div class="listsBadges">
        <div  [ngClass]="{'translateLeft': !showEarnedBadges, 'translateRight': showEarnedBadges}">

          <!-- List of badges already gotten -->
          <div class="gottenBadgesPart" padding>
            <div class="listBadge">
              <div *ngFor='let badgeObj of listGottenBadges' class="badge" [ngClass]="{'badgeSelected': badge && badgeObj.id===badge.id}" (click)="showInfoBadge(badgeObj)">
                <ion-icon style="font-size: 10vw" src="{{badgeObj.badge}}"></ion-icon>
                <br/>
                <span class="smallCaps">{{badgeObj.name}}</span>
              </div>
            </div>

          </div>

          <!-- List of the rest of badges -->
          <div class="inProgressBadgesPart" padding>
            <div class="listBadge">
              <div *ngFor='let badgeObj of listInProgressBadges' class="badge" [ngClass]="{'badgeSelected': badge && badgeObj.id===badge.id}" (click)="showInfoBadge(badgeObj)">
                <ion-icon style="font-size: 10vw" src="{{badgeObj.badge}}"></ion-icon>
                <br/>
                <span class="smallCaps">{{badgeObj.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

<!-- </div> -->
