@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

.blankDiv{
  color: transparent;
  padding-left: 26px;
  padding-right: 16px;
}

/** 
* -------------------------------------------
* Header
*/

ion-header ion-toolbar{
  contain: none;
  --background: rgba(0, 0, 0, 0.6);
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

.header:after{
  background: transparent;
}

ion-header ion-toolbar ion-title{
  text-align: center;
  color: rgb(255, 182, 48);
}

ion-header ion-button{
  --background: transparent;
  --box-shadow: none;
  margin-right: 10px;
}

ion-header ion-button:active{
  --background: transparent;
}




/**
* ---------------------------------------------
* Content
*/

ion-content{
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  --background: rgba(0, 0, 0, 0.6);  
}

ion-content .infoBadge{
  color: white !important;
}



/**
* --------------------------------------------
* Info on a bagde : at the top of the screen
*/

ion-content .infoBadge{
}

ion-content .infoBadge ion-col:nth-child(1){
  display: flex;
}

ion-content .infoBadge .leftPart{
  margin-top:auto;
  margin-bottom: auto;
  text-align: center;
}

ion-content .infoBadge .leftPart ion-icon{
  font-size: 20vw;
}

ion-content .infoBadge .rightPart p{
  text-align: justify;
  font-size:10pt;
}



