@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

#side-menu{
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

#side-menu ion-toolbar{
    --background: transparent;
    text-align: center;
    color:white !important;
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

#side-menu ion-title{
    color: white !important;
}

#side-menu .header:after{
    background-image: none;
}

#side-menu .avatar{
    height : 75px;
    width : 75px;
    border-radius : 50%;
    display : inline-block;
    object-fit : cover;
    margin-top: 20px;
}

#side-menu .username{
    font-variant: small-caps;
}

#side-menu .nbAbonne{
    font-size: 10pt;
    color: rgb(206, 206, 206);
}

#side-menu ion-content{
    height: -webkit-fill-available;
    -webkit-height: -webkit-fill-available;
    --background: transparent;
}

#side-menu ion-list{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    background: transparent;
}

#side-menu .partSideMenu::before{
    content: "";
    position: absolute;
    left: 10%;
    height: 1px;
    width: 80%;
    border-bottom: 1px solid white;
}

#side-menu ion-content ion-item{
    --background: transparent;
    color: white !important;
}

#side-menu ion-content ion-label{
    border: none !important;
}

#side-menu ion-label{
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    font-size: 12pt;
    font-variant: small-caps;
}

#side-menu ion-content ion-icon{
    color: white;
}

#side-menu .partSideMenu .titlePart{
    padding-left: 16px; 
    padding-top: 20px;
    font-size: 14pt;
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    font-variant: small-caps;
    color: white;
}
#side-menu .partSideMenu ion-slides span{
    font-size: 12pt;
}

#side-menu .partSideMenu ion-slides{
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    font-variant: small-caps;
    color: white;
}

#side-menu .partSideMenu ion-slides .countryImg{
    height: 40px;
    width: 40px;
    text-align: left;
    margin-right: 10px;
}

#side-menu ion-item{
    --border-style: none !important;
}

#side-menu ion-slides ion-slide{
    justify-content: left;
    padding-left: 32px;
}

#side-menu ion-slides ion-slide:last-child{
    padding-right: 32px;
}

#side-menu ion-slides .sliderFriendsTrip{
    width: auto;
}

#side-menu .avatarTripImg{
    height : 40px;
    width : 40px;
    border-radius : 50%;
    display : inline-block;
    object-fit : cover;
    margin-top: 20px;
}

#side-menu #side-menu-footer{
    position: fixed;
    bottom: 0;
}

#side-menu #side-menu-footer img{
    height: 50px;
}
