<div id="side-menu">
  <ion-header>
    <ion-toolbar>
       <!-- Image -->
      <ion-menu-toggle auto-hide="false" class="profil" [routerLink]="'/profil'" close>
        <img class="avatar" src="{{user.avatar}}">
        <br/>
        <span class="username">{{user.name}}</span>
        <br/>
        <span class="nbAbonne" i18n="sidemenu subscribers | The number of subscribers in sidemenu@@sidemenuSubscribers">{user.nbAbonnes, plural, =0 {} =1 {1 abonné} other {{{user.nbAbonnes}} abonnés}}</span>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <!-- Trip in progress -->
    <div *ngIf="listTrip.length > 0" class="partSideMenu">
      <div class="titlePart">
        <span i18n="sidemenu trip in progress | Own trips in progress on sidemenu@@sidemenuMyTripInProgress">{listTrip.length, plural, =1 {Voyage en cours} other {Voyages en cours ({{listTrip.length}})}}</span>
      </div>

      <ion-slides pager="false" [options]="slideOpts" #slideWithMyTrips (ionSlideDidChange)="slideDidChangeSideMenu(listTrip, slideWithMyTrips)">  <!-- [options]="slideOpts"  pager="true" loop="true" class="swiper-container" -->
        <ion-slide *ngFor="let trip of listTrip">
          <img class="countryImg" src={{trip.countryImage}}>
          <span>{{trip.name}}</span>
        </ion-slide>
      </ion-slides>
    </div>

    <!-- Followed persons' trips in progress -->
    <div *ngIf="listFriendsTrip.length > 0" class="partSideMenu">
      <div class="titlePart">
        <span i18n="sidemenu friends trip | Friends' trips in progress on sidemenu@@sidemenuFriendsTrips">{listFriendsTrip.length, plural, =1 {Voyage de mes amis} other {Voyages de mes amis}}</span>
      </div>

      <ion-slides pager="false" id="sliderFriendsTripContainer" [options]="slideFriendsTripOpts" #slideWithFriendsTrips (ionSlideDidChange)="slideDidChangeSideMenu(listFriendsTrip, slideWithFriendsTrips)">  <!-- [options]="slideOpts"  pager="true" loop="true" class="swiper-container" -->
        <ion-slide class="sliderFriendsTrip" *ngFor="let trip of listFriendsTrip">
          <img class="avatarTripImg" src={{trip.avatar}}>
          <img class="countryFriendsTrip" src="{{trip.countryImage}}">
        </ion-slide>
      </ion-slides>
    </div>

    <!-- Followed persons' trips in progress -->
    <ion-menu-toggle class="partSideMenu">
      <ion-item [routerLink]="'/discover'">
        <ion-label i18n="sidemenu settings | Settings on sidemenu@@sidemenuSettings">Paramètres</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/discover'">
        <ion-label i18n="sidemenu contact us | Contact us on sidemenu@@sidemenuContactUs">Nous contacter</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
    <ion-footer id="side-menu-footer">
      <ion-toolbar>
        <img src={{logo}}>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</div>
