<ion-content [style.backgroundImage]="'url(' + trip.image + ')'" id="main_discover" [scrollEvents]="true" (ionScroll)="onWindowScroll($event);">
  <main id="main_container">
    <!-- Title of the trip -->
    <div id="title_trip" class="main-title">
      <div *ngIf="blurTitle" class="beforeContent" [style.backgroundImage]="'url(' + trip.image + ')'"></div>
      <div class="title_text">{{trip.name}}</div>
    </div>

    <!-- List of notifications -->
    <div class="listNotif">
      <div *ngFor="let notif of trip.notifications">
        <ion-card class="box">
          <div class="beforeContent" [style.backgroundImage]="'url(' + trip.image + ')'"></div>
          <ion-card-content class="content">
            <!-- Top part of the card : avatar / pseudo / action / date -->
            <div class="top-bloc">
              <!-- Image -->
              <img class="avatar" src="{{notif.user.image}}">

              <!-- Pseudo / Action / Date -->
              <div class="action-bloc">
                <p><span>{{notif.user.name}}</span>{{getAction(notif.action)}}</p>
                <p>{{notif.date}}</p>
              </div>
            </div>

            <!-- Bottom part of the card : place / comments / likes -->
            <ion-grid class="bottom-bloc">
              <ion-row>
                <!-- Place -->
                <ion-col class="placeIcon" size="8">
                    <span><ion-icon name="pin"></ion-icon>{{notif.lieu}}</span>
                </ion-col>

                <!-- Likes -->
                <ion-col class="icon" text-center size="2">
                  <ion-icon name="chatbubbles"></ion-icon>
                  <p>{{notif.nbLike}}</p>
                </ion-col>  

                <!-- Comments -->
                <ion-col class="icon" text-center size="2">
                  <ion-icon name="heart-empty"></ion-icon>
                  <p>{{notif.nbComment}}</p>
                </ion-col>
              </ion-row> 
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </main>

  <ion-footer id="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="color: white; font-size: 20pt; margin-right: 10px" name="grid"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
