@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);
#footer{
  background-color: rgba(0, 0, 0, 0.2) !important;
  position: fixed;
  bottom: 0;
}
  
ion-toolbar{
  --background: transparent;
}

#main_discover {
  --background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
}

main{
  margin-bottom: 80px;
}

.main-title{
  position : relative;
  margin-top : 20vh;
  width : 80vw;
  left : 10vw;
  text-align : center;
  color : white;
  font-size : 3em;
  font-family : Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  font-weight : 500;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
}

.card-content{
  padding-bottom: 0px;
  padding-top:10px;
  padding-right: 10px;
  padding-left: 10px;
}

.box{
  position: relative;
  color : white;
  //text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
  font-family : Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  padding: 10px 5px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 25px;
  // width: 80vw;
  // height : 250px;
  // box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
  overflow: hidden;
}

.beforeContent{
  background: right no-repeat fixed;
  background-color: rgba(227, 230, 234, 0.9);
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(1.5rem);
  overflow:hidden;
}

.content{
  height: auto;
}

.top-bloc{
  overflow: auto;
}

.avatar{
  height : 50px;
  width : 50px;
  border-radius : 50%;
  display : inline-block;
  object-fit : cover;
  margin-right: 20px;
  float: left;
}

.action-bloc{
  display: inline;
  margin-bottom: auto;
  margin-top: auto;
}

.action-bloc span{
  font-weight: bold;
}

.action-bloc p:last-child{
  font-size: 12px;
}

.bottom-bloc{
  clear: left; 
  padding-top:5px;
  font-size: 12px;
}

.bottom-bloc .placeIcon ion-icon{
  font-size: 15pt;
  margin-bottom: -5px;
}

.bottom-bloc .icon ion-icon{
  font-size: 16pt;
}

.icon p{
  font-size: 10pt;
  color: #e6e6e6;
}