@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
#footer{
  background-color: rgba(0, 0, 0, 0.2) !important;
  position: fixed;
  bottom: 0;
}
  
ion-toolbar{
  --background: transparent;
}

#main_discover {
  --background: transparent;
  // background-image: url("../../assets/img/yocemite1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
  
  text-shadow: 2px 2px #626466;
}

main{
  margin-bottom: 80px;
}

.main-title{
  position : relative;
  margin-top : 20vh;
  width : 80vw;
  left : 10vw;
  text-align : center;
  color : white;
  font-size : 3em;
  font-family : Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  font-weight : 500;
  text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
}