<ion-content [style.backgroundImage]="'url(' + trip.image + ')'" id="main_discover">
  <main>
    <div class="main-title">{{trip.name}}</div>

    <!-- List of notifications -->
    <div>
      <ion-card >
        
      </ion-card>
    </div>
  </main>

  <ion-footer id="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="color: white; font-size: 20pt; margin-right: 10px" name="grid"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
