<ion-content [style.backgroundImage]="'url(' + trip.image + ')'" id="main_discover">
  <main>
    <div class="main-title">{{trip.name}}</div>

    <!-- List of notifications -->
    <div *ngFor="let notif of trip.notifications">
      <ion-card class="box">
        <div class="beforeCard" [style.backgroundImage]="'url(' + trip.image + ')'"></div>
        <ion-card-content class="content">
          <!-- Top part of the card : avatar / pseudo / action / date -->
          <div class="top-bloc">
            <!-- Image -->
            <img class="avatar" src="{{notif.user.image}}">

            <!-- Pseudo / Action / Date -->
            <div class="action-bloc">
              <p><span>{{notif.user.name}}</span>{{getAction(notif.action)}}</p>
              <p>{{notif.date}}</p>
            </div>
          </div>

          <!-- Bottom part of the card : place / comments / likes -->
          <div>
            
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </main>

  <ion-footer id="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="color: white; font-size: 20pt; margin-right: 10px" name="grid"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
