@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500,600,700);

#trip_creation{
  --background: transparent;
  background-image: url("./../../assets/img/background-image.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  -webkit-background-position: right;
  //font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
  color: white;
  --ion-font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif !important;
}

.content_tripCreation{
    position: relative;
    margin-top: 60px;
    padding-bottom: 100px;
  }
  
  .marginContent{
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .smallCaps{
    font-variant: small-caps;
  }
  
  span{
    text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
  }
  
  .whiteColor{
    color: white;
  }
  
  .cancelBtn{
    position: fixed;
    top:12px;
    right:30px;
    font-variant: small-caps;
    font-size: 13pt;
    color: white;
    z-index: 10;
  }

  .cancelBtn:focus{
    outline: none;
  }

  

/** 
  Group of shapes on the top of the screen 
  ------------------------------------------
*/
.shapeGroup{
    position: relative;
    height: fit-content;
    width: 100%;
  }
  
  .underShapeGroup{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: fit-content;
  }
  
  .circle{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    float:left;
  }
  
  .circle-outline{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    float:left;
  }

  .circle-outline:focus{
    outline: none;
  }
  
  .line{
    background: white;
    float:left;
    height: 1px;
    width: 15px;
    margin-top: 12px;
  }



  /** ----------------------------- */
  .pageTitle{
    position: relative;
    margin-top: 40px;
    color: white;
    clear: both;
    font-size: 19pt;
  }


  /**
    List of input
    ---------------------------------------
  */
  .listInput ion-item{
    --background: transparent;
    --border-style: none;
    color: white;
    font-size: 11pt;
    margin-top: 10px;

    --highlight-background: transparent;
    
    // text-shadow: 0px 0px 8px rgba(0,0,0,0.85);
  }

  .listInput ion-item ion-input{
    --padding-top: 0px;
    --padding-bottom: 0px;
  }

  .dates{
    display: inline-flex;
    width: 100%;
  }

  .dates ion-item{
    flex-grow: 1;
  }

  .visibility ion-label{
    flex: none;
  }

  .visibility ion-select{
    flex: none;
    vertical-align: text-bottom;
  }

  .travelers{
    color: white;
  }

  .travelers ion-chip{
    color: white;
  }

  .travelers ion-chip ion-icon{
    color:white;
  }

/**
  Next button div
  -----------------------------------------
*/
.nextBtn{
    clear: both;
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-shadow: 0px 0px 25px rgba(0,0,0,0.85);
    text-align: center;
  }