<ion-content padding id="trip_creation">
  <div class="cancelBtn">
    <span>Annuler</span>
  </div>

  <div class="content_tripCreation">
    <div class="shapeGroup">
      <div class="underShapeGroup">
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle-outline" [routerLink]="'/trip-creation-three'"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
      </div>
    </div>
  </div>

</ion-content>
