<ion-content id="trip_creation">
  <div class="cancelBtn">
    <span>Annuler</span>
  </div>

  <div class="content_tripCreation">
    <div class="shapeGroup">
      <div class="underShapeGroup">
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle-outline" [routerLink]="'/trip-creation-three'"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
      </div>
    </div>

    <div class="marginContent smallCaps pageTitle">
      <span>Création de voyage</span>
    </div>

    <div class="marginContent listInput">
      <ion-item>
        <ion-label position="floating">Nom du voyage</ion-label>
        <ion-input></ion-input>
      </ion-item>

    </div>

    <!-- Next button -->
    <div class="nextBtn whiteColor smallCaps">
      <span>Suivant</span>
    </div>
  </div>
</ion-content>
