<ion-content id="trip_creation">
  <div class="cancelBtn" [routerLink]="'/home'">
    <span>Annuler</span>
  </div>

  <div class="content_tripCreation">
    <div class="shapeGroup">
      <div class="underShapeGroup">
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle-outline"></div>
        <div class="line"></div>
        <div class="circle-outline" [routerLink]="'/trip-creation-three'"></div>      <!-- TODO: enlever le routerLink if -->
        <div class="line"></div>
        <div class="circle-outline"></div>
      </div>
    </div>

    <div class="marginContent smallCaps pageTitle">
      <span>Création de voyage</span>
    </div>

    <div class="marginContent listInput">
      <ion-item>
        <ion-label position="floating">Nom du voyage</ion-label>
        <ion-input [(ngModel)]="tripName" required="true"></ion-input>
      </ion-item>

      <!-- Date de début et de fin -->
      <div class="dates">
        <ion-item>
          <ion-label position="floating">Date de début</ion-label>
          <ion-input [(ngModel)]="startDate" required="true" type="date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Date de fin</ion-label>
          <ion-input [(ngModel)]="endDate" type="date"></ion-input>
        </ion-item>
      </div>

      <ion-item class="visibility">
        <ion-label>Visibilité</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"  [(ngModel)]="visibility" required="true">
          <ion-select-option selected="true" value="publique">Publique</ion-select-option>
          <ion-select-option value="privée">Privée</ion-select-option>
          <ion-select-option value="AmisSeulement">Amis</ion-select-option>
          <ion-select-option value="AmisEtLeursAmis">Amis et leurs amis</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="travelers" padding>
        <ion-label>Participant</ion-label>

        <div>
          <ion-chip (click)="addNewParticipants()">
            <ion-icon name="add"></ion-icon>
            <ion-label>Ajouter</ion-label>
          </ion-chip>

          <ion-chip>
            <ion-avatar>
              <img src="./../../assets/img/imgLocal/user1.jpg">
            </ion-avatar>
            <ion-label>Azzorg</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>

          <ion-chip>
            <ion-avatar>
              <img src="./../../assets/img/imgLocal/userClem.jpg">
            </ion-avatar>
            <ion-label>Benclem</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>

          <ion-chip>
            <ion-avatar>
              <img src="./../../assets/img/imgLocal/userTheo.jpg">
            </ion-avatar>
            <ion-label>Slokhas</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
        </div>
      </div>
      
      <ion-item class="recit">
        <ion-label position="floating">Récit</ion-label>
        <ion-textarea rows="10" [(ngModel)]="recit"></ion-textarea>
      </ion-item>
    </div>

    <!-- Next button -->
    <div class="nextBtn whiteColor smallCaps" (click)="goNext()">
      <span>Suivant</span>
    </div>
  </div>
</ion-content>
