<ion-content>

    <ion-slides pager="false" [options]="slideOpts">

      <ion-slide *ngFor="let trip of lstTrips" class="main" [ngStyle]="{'background-image' : trip.imageVoyage}">
        <h1 id="trip-title" [ngClass]="{'displayed' : showAllNotifs == true}">{{trip.title}}</h1>

        <div class="show-more-button" (click)="changeStateNotifs()" [ngClass]="{'reversed' : showAllNotifs == true}">
          <ion-icon name="arrow-up" class="show-more-icon"></ion-icon>
        </div>

        <div id="content-list" [ngClass]="{'displayed' : showAllNotifs == true}">
          <ion-card *ngFor="let post of trip.lstPosts; let index = index" id="box{{index}}" class="box blurred-bg tinted">
            <ion-card-content class="content">
              <div class="header">
                <img class="profil-picture" src="{{post.userPicture}}" alt="">
                <div class="header-infos">
                  <p class="user-name">{{post.userName}}</p>
                  <p class="user-action" *ngIf="post.type == 'new_trip'">a créé le voyage</p>
                  <p class="user-action" *ngIf="post.type == 'new_step'">a créé l'étape <b>{{post.complementary}}</b></p>
                  <p class="user-action" *ngIf="post.type == 'new_photos'">a posté {{post.complementary}} photos</p>
                  <p class="action-age">Il y a {{dateFromNow(post.date)}} jours</p>
                </div>
              </div>
              <div class="location-infos">
                <ion-icon name="ios-pin"></ion-icon>
                <span>Yosemite NP, CA, USA</span>
              </div>
              <div class="social-actions">
                <div class="social-action">
                  <ion-icon name="ios-text-outline"></ion-icon>
                  <div class="social-action-number">{{post.commentsCount}}</div>
                </div>
                <div class="social-action">
                  <ion-icon name="ios-heart-outline"></ion-icon>
                  <div class="social-action-number">{{post.likesCount}}</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>

    </ion-slides>


  <app-footer-app></app-footer-app>
</ion-content>
