<ion-content id="main">
  <div id="content-list">
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
    <ion-card id="box1" class="box blurred-bg tinted">
      <ion-card-content class="content">
        <h1>Blurred Background</h1>
        <h2>By Ariona, Rian</h2>
        <p>Drag this box to move around</p>
        <p class="related">See also: Staged Dropdown Animation</p>  
      </ion-card-content>
    </ion-card>
  </div>

  <ion-footer id="footer">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon style="color: white; font-size: 20pt; margin-right: 10px" name="grid"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>







