.background-blur{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  display: block;
  background-color: rgba(227, 230, 234, 0.6);

  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}

.welcome-card{
  position: relative;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

ion-card{
  color: white;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}



/*#main style:host{
  --background: transparent;
}*/

#main {
  background-image: url('../../assets/img/yosemite.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  text-shadow: 2px 2px #626466;
}
