<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main">
  <!--<ion-card swing-stack class="welcome-card" >
    <div class="background-blur"></div>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>-->

  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
  <ion-card id="box1" class="box blurred-bg tinted">
    <ion-card-content class="content">
      <h1>Blurred Background</h1>
          <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2>
          <p>Drag this box to move around</p>
      <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  
    </ion-card-content>
  </ion-card>
</ion-content>
